
._summary {
    background-color: grey;
}
._summary-head {
    font-size: 1.25rem;
    background-color: #3f4650 !important;
}

._column-info{
    font-size: 1.25rem;
}

._column:hover {
    box-shadow: 0px 5px 20px grey !important;
}
._column-head {
    font-size: 1.25rem !important;
}

._text-current, ._text-warning {
    color: orange;
}

._link:hover {
    background: rgb(222, 226, 230, 0.5);
}

._right-bar, ._left-bar {
    background-color: lightsteelblue;
}

._btn-primary {
    background-color: #5fb7e7 !important;
    color: white !important;
}

._stage-animation i:first-child {
    background: orange;
    border-radius: 100%;
    animation: ripple 1s linear infinite;
}
._stage-animation:hover {
    transform: scale(1.25);
    transition: all 0.5s ease;
}
._stage-animation:focus {
    outline: none;
}

._text-secondary-light {
    color: lightskyblue;
}

.kn-content .kn-navigation-bar .is-nav .kn-dropdown-menu .kn-dropdown-menu-list {
  z-index: 9999;
}